*~
\#*
.#*
*/#*
*/.#*
*/*~
.*.swp
*/.*.swp
*/*.o
*.orig
*/*.orig
*/*/*.orig
*.rej
*/*.rej
*/*/*.rej
phasex-*.tar.gz
phasex-*.rpm

# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
compile_commands.json
config.h
phasex.desktop
phasex.spec
